<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.project.system.mapper.TCommodityMapper">
    
    <resultMap type="TCommodity" id="TCommodityResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="img"    column="img"    />
        <result property="intro"    column="intro"    />
        <result property="price"    column="price"    />
        <result property="html"    column="html"    />
        <result property="artNo"    column="Art_No"    />
        <result property="tag"    column="tag"    />
        <result property="salesVolume"    column="sales_volume"    />
        <result property="order"    column="order"    />
        <result property="addDate"    column="add_date"    />
        <result property="addId"    column="add_id"    />
        <result property="modifyId"    column="modify_id"    />
        <result property="language"    column="language"    />
        <result property="modificationTime"    column="modification_time"    />
    </resultMap>

    <sql id="selectTCommodityVo">
        select id, name, img, intro, price, html, Art_No, tag, sales_volume, order, add_date, add_id, modify_id, language, modification_time from t_commodity
    </sql>

    <select id="selectTCommodityList" parameterType="TCommodity" resultMap="TCommodityResult">
        <include refid="selectTCommodityVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
            <if test="intro != null  and intro != ''"> and intro = #{intro}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="html != null  and html != ''"> and html = #{html}</if>
            <if test="artNo != null  and artNo != ''"> and Art_No = #{artNo}</if>
            <if test="tag != null  and tag != ''"> and tag = #{tag}</if>
            <if test="salesVolume != null "> and sales_volume = #{salesVolume}</if>
            <if test="order != null  and order != ''"> and order = #{order}</if>
            <if test="addDate != null "> and add_date = #{addDate}</if>
            <if test="addId != null "> and add_id = #{addId}</if>
            <if test="modifyId != null "> and modify_id = #{modifyId}</if>
            <if test="language != null "> and language = #{language}</if>
            <if test="modificationTime != null "> and modification_time = #{modificationTime}</if>
        </where>
    </select>
    
    <select id="selectTCommodityById" parameterType="Long" resultMap="TCommodityResult">
        <include refid="selectTCommodityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTCommodity" parameterType="TCommodity" useGeneratedKeys="true" keyProperty="id">
        insert into t_commodity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="img != null  and img != ''">img,</if>
            <if test="intro != null  and intro != ''">intro,</if>
            <if test="price != null ">price,</if>
            <if test="html != null  and html != ''">html,</if>
            <if test="artNo != null  and artNo != ''">Art_No,</if>
            <if test="tag != null  and tag != ''">tag,</if>
            <if test="salesVolume != null ">sales_volume,</if>
            <if test="order != null  and order != ''">order,</if>
            <if test="addDate != null ">add_date,</if>
            <if test="addId != null ">add_id,</if>
            <if test="modifyId != null ">modify_id,</if>
            <if test="language != null ">language,</if>
            <if test="modificationTime != null ">modification_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="img != null  and img != ''">#{img},</if>
            <if test="intro != null  and intro != ''">#{intro},</if>
            <if test="price != null ">#{price},</if>
            <if test="html != null  and html != ''">#{html},</if>
            <if test="artNo != null  and artNo != ''">#{artNo},</if>
            <if test="tag != null  and tag != ''">#{tag},</if>
            <if test="salesVolume != null ">#{salesVolume},</if>
            <if test="order != null  and order != ''">#{order},</if>
            <if test="addDate != null ">#{addDate},</if>
            <if test="addId != null ">#{addId},</if>
            <if test="modifyId != null ">#{modifyId},</if>
            <if test="language != null ">#{language},</if>
            <if test="modificationTime != null ">#{modificationTime},</if>
         </trim>
    </insert>

    <update id="updateTCommodity" parameterType="TCommodity">
        update t_commodity
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="img != null  and img != ''">img = #{img},</if>
            <if test="intro != null  and intro != ''">intro = #{intro},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="html != null  and html != ''">html = #{html},</if>
            <if test="artNo != null  and artNo != ''">Art_No = #{artNo},</if>
            <if test="tag != null  and tag != ''">tag = #{tag},</if>
            <if test="salesVolume != null ">sales_volume = #{salesVolume},</if>
            <if test="order != null  and order != ''">order = #{order},</if>
            <if test="addDate != null ">add_date = #{addDate},</if>
            <if test="addId != null ">add_id = #{addId},</if>
            <if test="modifyId != null ">modify_id = #{modifyId},</if>
            <if test="language != null ">language = #{language},</if>
            <if test="modificationTime != null ">modification_time = #{modificationTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTCommodityById" parameterType="Long">
        delete from t_commodity where id = #{id}
    </delete>

    <delete id="deleteTCommodityByIds" parameterType="String">
        delete from t_commodity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>