<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.project.system.mapper.TGroupAdministratorsMapper">
    
    <resultMap type="TGroupAdministrators" id="TGroupAdministratorsResult">
        <result property="id"    column="id"    />
        <result property="groupName"    column="group_name"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="tourId"    column="tour_id"    />
        <result property="outreachWorkersId"    column="outreach_workers_id"    />
        <result property="state"    column="state"    />
        <result property="addId"    column="add_id"    />
        <result property="modifyId"    column="modify_id"    />
        <result property="language"    column="language"    />
        <result property="modificationTime"    column="modification_time"    />
        <result property="addTime"    column="add_time"    />
    </resultMap>

    <sql id="selectTGroupAdministratorsVo">
        select id, group_name, begin_time, end_time, tour_id, outreach_workers_id, state, add_id, modify_id, language, modification_time, add_time from t_group_administrators
    </sql>

    <select id="selectTGroupAdministratorsList" parameterType="TGroupAdministrators" resultMap="TGroupAdministratorsResult">
        <include refid="selectTGroupAdministratorsVo"/>
        <where>  
            <if test="groupName != null  and groupName != ''"> and group_name like concat('%', #{groupName}, '%')</if>
            <if test="beginTime != null "> and begin_time = #{beginTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="tourId != null  and tourId != ''"> and tour_id = #{tourId}</if>
            <if test="outreachWorkersId != null "> and outreach_workers_id = #{outreachWorkersId}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="addId != null "> and add_id = #{addId}</if>
            <if test="modifyId != null "> and modify_id = #{modifyId}</if>
            <if test="language != null "> and language = #{language}</if>
            <if test="modificationTime != null "> and modification_time = #{modificationTime}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
        </where>
    </select>
    
    <select id="selectTGroupAdministratorsById" parameterType="Long" resultMap="TGroupAdministratorsResult">
        <include refid="selectTGroupAdministratorsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTGroupAdministrators" parameterType="TGroupAdministrators" useGeneratedKeys="true" keyProperty="id">
        insert into t_group_administrators
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupName != null  and groupName != ''">group_name,</if>
            <if test="beginTime != null ">begin_time,</if>
            <if test="endTime != null ">end_time,</if>
            <if test="tourId != null  and tourId != ''">tour_id,</if>
            <if test="outreachWorkersId != null ">outreach_workers_id,</if>
            <if test="state != null ">state,</if>
            <if test="addId != null ">add_id,</if>
            <if test="modifyId != null ">modify_id,</if>
            <if test="language != null ">language,</if>
            <if test="modificationTime != null ">modification_time,</if>
            <if test="addTime != null ">add_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupName != null  and groupName != ''">#{groupName},</if>
            <if test="beginTime != null ">#{beginTime},</if>
            <if test="endTime != null ">#{endTime},</if>
            <if test="tourId != null  and tourId != ''">#{tourId},</if>
            <if test="outreachWorkersId != null ">#{outreachWorkersId},</if>
            <if test="state != null ">#{state},</if>
            <if test="addId != null ">#{addId},</if>
            <if test="modifyId != null ">#{modifyId},</if>
            <if test="language != null ">#{language},</if>
            <if test="modificationTime != null ">#{modificationTime},</if>
            <if test="addTime != null ">#{addTime},</if>
         </trim>
    </insert>

    <update id="updateTGroupAdministrators" parameterType="TGroupAdministrators">
        update t_group_administrators
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupName != null  and groupName != ''">group_name = #{groupName},</if>
            <if test="beginTime != null ">begin_time = #{beginTime},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
            <if test="tourId != null  and tourId != ''">tour_id = #{tourId},</if>
            <if test="outreachWorkersId != null ">outreach_workers_id = #{outreachWorkersId},</if>
            <if test="state != null ">state = #{state},</if>
            <if test="addId != null ">add_id = #{addId},</if>
            <if test="modifyId != null ">modify_id = #{modifyId},</if>
            <if test="language != null ">language = #{language},</if>
            <if test="modificationTime != null ">modification_time = #{modificationTime},</if>
            <if test="addTime != null ">add_time = #{addTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTGroupAdministratorsById" parameterType="Long">
        delete from t_group_administrators where id = #{id}
    </delete>

    <delete id="deleteTGroupAdministratorsByIds" parameterType="String">
        delete from t_group_administrators where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>